{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://demo.traccar.org/api"
        }
    ],
    "info": {
        "description": "Open Source GPS Tracking Platform",
        "title": "traccar",
        "version": "4.3",
        "x-apisguru-categories": [
            "location"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_590395195268538368_oScd6DxA_400x400.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/tananaev/traccar/master/swagger.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "traccar.org"
    },
    "security": [
        {
            "basicAuth": []
        }
    ],
    "paths": {
        "/attributes/computed": {
            "get": {
                "description": "Without params, it returns a list of Attributes the user has access to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _deviceId_s, they have access to",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _groupId_s, they have access to",
                        "in": "query",
                        "name": "groupId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "refresh",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attribute": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "expression": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "type": {
                                                "description": "String|Number|Boolean",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Fetch a list of Attributes"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attribute": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expression": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "description": "String|Number|Boolean",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create an Attribute",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attribute": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "expression": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "type": {
                                        "description": "String|Number|Boolean",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/attributes/computed/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete an Attribute"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attribute": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "expression": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "description": "String|Number|Boolean",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update an Attribute",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attribute": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "expression": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "type": {
                                        "description": "String|Number|Boolean",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/calendars": {
            "get": {
                "description": "Without params, it returns a list of Calendars the user has access to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "data": {
                                                "description": "base64 encoded in iCalendar format",
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Fetch a list of Calendars"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "data": {
                                            "description": "base64 encoded in iCalendar format",
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a Calendar",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "data": {
                                        "description": "base64 encoded in iCalendar format",
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/calendars/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a Calendar"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "data": {
                                            "description": "base64 encoded in iCalendar format",
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a Calendar",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "data": {
                                        "description": "base64 encoded in iCalendar format",
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/commands": {
            "get": {
                "description": "Without params, it returns a list of Drivers the user has access to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _deviceId_s, they have access to",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _groupId_s, they have access to",
                        "in": "query",
                        "name": "groupId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "refresh",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "deviceId": {
                                                "type": "integer"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Fetch a list of Saved Commands"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "deviceId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a Saved Command",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "deviceId": {
                                        "type": "integer"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/commands/send": {
            "get": {
                "description": "Return a list of saved commands linked to Device and its groups, filtered by current Device protocol support",
                "parameters": [
                    {
                        "description": "Standard users can use this only with _deviceId_s, they have access to",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "deviceId": {
                                                "type": "integer"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Could happen when the user doesn't have permission for the device"
                    }
                },
                "summary": "Fetch a list of Saved Commands supported by Device at the moment"
            },
            "post": {
                "description": "Dispatch a new command or Saved Command if _body.id_ set",
                "responses": {
                    "200": {
                        "description": "Command sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "deviceId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Command queued",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "deviceId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Could happen when the user doesn't have permission or an incorrect command _type_ for the device"
                    }
                },
                "summary": "Dispatch commands to device",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "deviceId": {
                                        "type": "integer"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/commands/types": {
            "get": {
                "parameters": [
                    {
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "textChannel",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Could happen when trying to fetch from a device the user does not have permission"
                    }
                },
                "summary": "Fetch a list of available Commands for the Device or all possible Commands if Device ommited"
            }
        },
        "/commands/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a Saved Command"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "deviceId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a Saved Command",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "deviceId": {
                                        "type": "integer"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/devices": {
            "get": {
                "description": "Without any params, returns a list of the user's devices",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "To fetch one or more devices. Multiple params can be passed like `id=31&id=42`",
                        "in": "query",
                        "name": "id",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "To fetch one or more devices. Multiple params can be passed like `uniqueId=333331&uniqieId=44442`",
                        "in": "query",
                        "name": "uniqueId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "category": {
                                                "type": "string"
                                            },
                                            "contact": {
                                                "type": "string"
                                            },
                                            "disabled": {
                                                "type": "boolean"
                                            },
                                            "geofenceIds": {
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "type": "array"
                                            },
                                            "groupId": {
                                                "type": "integer"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "lastUpdate": {
                                                "description": "in IS0 8601 format. eg. `1963-11-22T18:30:00Z`",
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "model": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            },
                                            "positionId": {
                                                "type": "integer"
                                            },
                                            "status": {
                                                "type": "string"
                                            },
                                            "uniqueId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No permission"
                    }
                },
                "summary": "Fetch a list of Devices"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "category": {
                                            "type": "string"
                                        },
                                        "contact": {
                                            "type": "string"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "geofenceIds": {
                                            "items": {
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "groupId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "lastUpdate": {
                                            "description": "in IS0 8601 format. eg. `1963-11-22T18:30:00Z`",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "model": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "phone": {
                                            "type": "string"
                                        },
                                        "positionId": {
                                            "type": "integer"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "uniqueId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a Device",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "category": {
                                        "type": "string"
                                    },
                                    "contact": {
                                        "type": "string"
                                    },
                                    "disabled": {
                                        "type": "boolean"
                                    },
                                    "geofenceIds": {
                                        "items": {
                                            "type": "integer"
                                        },
                                        "type": "array"
                                    },
                                    "groupId": {
                                        "type": "integer"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "lastUpdate": {
                                        "description": "in IS0 8601 format. eg. `1963-11-22T18:30:00Z`",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "model": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "positionId": {
                                        "type": "integer"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "uniqueId": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/devices/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a Device"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "category": {
                                            "type": "string"
                                        },
                                        "contact": {
                                            "type": "string"
                                        },
                                        "disabled": {
                                            "type": "boolean"
                                        },
                                        "geofenceIds": {
                                            "items": {
                                                "type": "integer"
                                            },
                                            "type": "array"
                                        },
                                        "groupId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "lastUpdate": {
                                            "description": "in IS0 8601 format. eg. `1963-11-22T18:30:00Z`",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "model": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "phone": {
                                            "type": "string"
                                        },
                                        "positionId": {
                                            "type": "integer"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "uniqueId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a Device",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "category": {
                                        "type": "string"
                                    },
                                    "contact": {
                                        "type": "string"
                                    },
                                    "disabled": {
                                        "type": "boolean"
                                    },
                                    "geofenceIds": {
                                        "items": {
                                            "type": "integer"
                                        },
                                        "type": "array"
                                    },
                                    "groupId": {
                                        "type": "integer"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "lastUpdate": {
                                        "description": "in IS0 8601 format. eg. `1963-11-22T18:30:00Z`",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "model": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "positionId": {
                                        "type": "integer"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "uniqueId": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/devices/{id}/accumulators": {
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Update total distance and hours of the Device",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "deviceId": {
                                        "type": "integer"
                                    },
                                    "hours": {
                                        "type": "number"
                                    },
                                    "totalDistance": {
                                        "description": "in meters",
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/drivers": {
            "get": {
                "description": "Without params, it returns a list of Drivers the user has access to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _deviceId_s, they have access to",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _groupId_s, they have access to",
                        "in": "query",
                        "name": "groupId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "refresh",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "uniqueId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Fetch a list of Drivers"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "uniqueId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a Driver",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "uniqueId": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/drivers/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a Driver"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "uniqueId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a Driver",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "uniqueId": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/events/{id}": {
            "get": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "deviceId": {
                                            "type": "integer"
                                        },
                                        "geofenceId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "maintenanceId": {
                                            "type": "integer"
                                        },
                                        "positionId": {
                                            "type": "integer"
                                        },
                                        "serverTime": {
                                            "description": "in IS0 8601 format. eg. `1963-11-22T18:30:00Z`",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geofences": {
            "get": {
                "description": "Without params, it returns a list of Geofences the user has access to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _deviceId_s, they have access to",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _groupId_s, they have access to",
                        "in": "query",
                        "name": "groupId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "refresh",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "area": {
                                                "type": "string"
                                            },
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "calendarId": {
                                                "type": "integer"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Fetch a list of Geofences"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "area": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "calendarId": {
                                            "type": "integer"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a Geofence",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "area": {
                                        "type": "string"
                                    },
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "calendarId": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/geofences/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a Geofence"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "area": {
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "calendarId": {
                                            "type": "integer"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a Geofence",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "area": {
                                        "type": "string"
                                    },
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "calendarId": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/groups": {
            "get": {
                "description": "Without any params, returns a list of the Groups the user belongs to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "groupId": {
                                                "type": "integer"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Fetch a list of Groups"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "groupId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No permission"
                    }
                },
                "summary": "Create a Group",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "groupId": {
                                        "type": "integer"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/groups/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a Group"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "groupId": {
                                            "type": "integer"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a Group",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "groupId": {
                                        "type": "integer"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/maintenance": {
            "get": {
                "description": "Without params, it returns a list of Maintenance the user has access to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _deviceId_s, they have access to",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _groupId_s, they have access to",
                        "in": "query",
                        "name": "groupId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "refresh",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "additionalProperties": true,
                                                "type": "object"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "period": {
                                                "type": "number"
                                            },
                                            "start": {
                                                "type": "number"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Fetch a list of Maintenance"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "period": {
                                            "type": "number"
                                        },
                                        "start": {
                                            "type": "number"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a Maintenance",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "period": {
                                        "type": "number"
                                    },
                                    "start": {
                                        "type": "number"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/maintenance/{id}": {
            "delete": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a Maintenance"
            },
            "put": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "additionalProperties": true,
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "period": {
                                            "type": "number"
                                        },
                                        "start": {
                                            "type": "number"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a Maintenance",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attributes": {
                                        "additionalProperties": true,
                                        "type": "object"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "period": {
                                        "type": "number"
                                    },
                                    "start": {
                                        "type": "number"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/notifications": {
            "get": {
                "description": "Without params, it returns a list of Notifications the user has access to",
                "parameters": [
                    {
                        "description": "Can only be used by admins or managers to fetch all entities",
                        "in": "query",
                        "name": "all",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Standard users can use this only with their own _userId_",
                        "in": "query",
                        "name": "userId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _deviceId_s, they have access to",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Standard users can use this only with _groupId_s, they have access to",
                        "in": "query",
                        "name": "groupId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "refresh",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
[...]
